@import '../../index.scss';

.avatar-info-comment {
  max-width: 26.5rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  .avatar-image {
    border-radius: $radius50;
    max-height: 4.5rem;
    margin-right: 0.5rem;
  }
  p {
    margin: 1rem;
  }
}
.comment-info {
  margin: 1.5rem;
  max-width: 26.5rem;
}

/////////
.form-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  button {
    background: #dec3be;
    color: white;
    &:hover {
      background: darken($btn-color, $amount: 5%);
    }
  }
}
textarea {
  padding: 1rem;
  input {
    margin: 1rem;
  }

  font-size: 20px;

  resize: none;
}
