$background-color: #f9f9f9;
$article-color: #eeeaf0;
$font-color: #3e454a;
$max-width: 1170px;
$error-color: #f15353;
$btn-color: #dec3be;
$transition: all 0.3s ease;
$radius: 0.25rem;
$radius50: 50%;
$bgc-secondary: #d5a18e;
